@import '~variables';

.coach-info {
  position: relative;
  background: white;

  &:before {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background: $secondary-light-bg;
    width: 33%;
    height: 100%;
  }

  .coach-description {
    min-height: 360px;
    padding: 10px 10px 20px;
    color: $dark-blue;

    h1 {
      font-size: 18px;
      margin-top: 20px;
    }

    p {
      margin-top: 15px;
      font-size: 12px;
      line-height: 1.7em;
    }


    .coach-details {
      color: $dark-gray;
    }
  }


}