@import '~variables';

.contact-page {
  position: relative;
  overflow: hidden;

  background-color: $very-dark-blue;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;

  .main-headline {
    @include font-headline();
  }

  .main-description {
    font-size: 12px;
    line-height: 1.6em;
  }

  .comment {
    font-size: 10px;
    display: block;
    margin-top: 10px;
    color: $red;
  }

  .school-image {
    margin-top: 40px;
    max-width: 100%;
  }

  .map-link {
    @include font-headline();

    float: right;
    padding: 10px;
    font-size: 11px;
    color: white;

    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid $blue;
  }
}
