@import '~variables';

.teams-page {
  position: relative;
  overflow: hidden;

  color: $dark-blue;
  padding-top: 50px;
  padding-bottom: 80px;

  .team-list {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: $secondary-light-bg;
    width: 33%;
    height: 100%;
  }

  ul {
    padding: 0;
  }

  @media #{$xs-sm} {
    padding-top: 10px;

    &:before {
      display: none;
    }

    .team-list {
      margin-top: 20px;
    }
  }
}
