@import '~variables';

.teams-page {
  position: relative;

  color: dimgray;
  padding-top: 50px;
  padding-bottom: 200px;

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: $secondary-light-bg;
    width: 33%;
    height: 100%;
  }

  ul {
    padding: 0;
  }
}
