@import '~variables';

.staff-page {
  padding-top: 50px;
  padding-bottom: 200px;;
  overflow: hidden;
  color: white;
  background-color: #00081e;

  @include sm-max() {
    padding-bottom: 50px;
  }
}
