.dialog {
  font-family: 'Museo Slab';
  font-size: 36px;
  margin: 0 20px;
  margin-top: 50px;

  .dialog-line-wrapper {
    display: block;
    margin-bottom: 5px;
  }

  .dialog-line {
    padding: 5px 15px;
    padding-left:40px;
    position: relative;
    background: rgba(black, 0.2);

    strong {
      color: #ff1f31;
    }
  }

  .dialog-part {

    .dialog-line-wrapper:first-child .dialog-line{
      &:before {
        content: '-';
        display: inline-block;
        position: absolute;
        left: 10px;
      }
    }
  }
}