@import '~variables';

.dialog {
  @include font-headline();
  font-size: 36px;
  margin: 0 20px;
  margin-top: 50px;

  .dialog-line-wrapper {
    display: block;
    margin-bottom: 5px;
  }

  .dialog-line {
    padding: 5px 15px;
    padding-left:40px;
    position: relative;
    background: rgba(black, 0.4);

    strong {
      color: $red;
    }
  }

  .dialog-part {
    .dialog-line-wrapper:first-child .dialog-line{
      &:before {
        content: '-';
        display: inline-block;
        position: absolute;
        left: 10px;
      }
    }
  }

  @include sm-max() {
    font-size: 18px;
    text-align: center;

    .dialog-part {
      margin-bottom: 10px;
      padding-left: 20px;

      .dialog-line-wrapper:first-child .dialog-line{
        &:before {
          content: '-';
          display: inline-block;
          position: absolute;
          left: -15px;
        }
      }
    }
    .dialog-line-wrapper {
      display: inline-block;
    }

    .dialog-line {
      padding: 0;
    }
  }
}