@import '~variables';

.logo {
  max-height: 140px;
  background-color: rgba(6, 11, 39, 1);
  border-radius: 50%;

  transition: all 300ms ease;
}

.logo-wrapper {
  margin-top: -50px;
  margin-bottom: -30px;
}

.headroom--unpinned {
  .logo {
    transform: scaleX(0.8) scaleY(0.8) translateY(0%);
  }
}