@import '~variables';

.date-time-header {
  .days-line {
    @include font-headline;

    color: $dark-blue;
    padding-left: 0;
    font-size: 17px;
    line-height: 30px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      background: $dark-blue;
      height: 2px;
      margin-top: 2px;
    }
  }
  .hours-field {
    @include font-headline;

    padding: 6px;
    font-size: 16px;
    background-color: $light-blue;
    text-align: center;
    color: white;
  }

  .teamName {
    color: $light-blue;
    display: block;
    font-size: 16px;
    margin-top: 5px;
  }

  @media #{$xs-sm} {
    .teamName {
      display: none;
    }

    .days-line {
      text-align: center;
      &:after {
        display: none;
      }
    }

    .hours-field {
      padding: 3px;
    }
  }
}