$secondary-light-bg: #e4e4e4;

$light-blue: #1aa3ce;
$dark-blue: #0f153a;
$dark-gray: #3F3F3F;

$medium-screen: 'max-width: 992px';
$large-screen: 'min-width: 1200px';

@mixin font-headline() {
  font-family: 'Museo Slab', serif;
}

@mixin font-normal() {
  font-family: 'Open Sans', sans-serif;
}