$secondary-light-bg: #e4e4e4;

$pale-blue: #b4d7e1;
$blue: #07799d;
$light-blue: #1aa3ce;
$dark-blue: #0f153a;
$very-dark-blue: #00081e;
$dark-gray: #3F3F3F;
$red: #ec2b36;

$medium-screen: 'max-width: 992px';
$large-screen: 'min-width: 1200px';

@mixin font-headline() {
  font-family: 'Museo Slab', serif;
}

@mixin font-normal() {
  font-family: 'Open Sans', sans-serif;
}


@mixin xs-max {
  @media (max-width: 520px) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin lg-min {
  @media (min-width: 1200px) {
    @content;
  }
}

$xs-max: "520px";

$sm-min: "768px";
$sm-max: "991px";

$md-min: "992px";
$md-max: "1199px";

$lg-min: "1200px";