@import '~variables';

$inactive-opacity: 0.3;

.staff-picker {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;

  .staff-list {
    border-bottom: 2px solid rgba(255, 255, 255, $inactive-opacity);
  }

  .coach-name {
    list-style: none;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: bold;

    font-size: 18px;
    line-height: 1.2em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: $inactive-opacity;
    padding-bottom: 15px;

    cursor: pointer;

    .name, .surname {
      display: block;
    }

    &.is-active {
      opacity: 1;
      cursor: default;
    }
  }

  .Select {
    outline: none;

    .Select-control {
      background: $dark-blue;
      font-size:18px;
      border: none !important;

      .Select-value-label {
        color: white !important;
        @include font-headline();
      }
    }
    .Select-menu-outer {

    }
    .Select-arrow-zone {
      background: white;
      border-radius: 3px;
      width: 40px;
      padding-right: 0;
    }
    .Select-arrow {
      border-top-color: $light-blue;
      border-width: 8px 5px 0px;
    }
    .Select-option {
      @include font-headline();
      font-size: 18px;
    }
  }
}