.main-navigation {
  background: rgba(6, 11, 39, 0.6);

  .navigation-link {
    display: inline-block;
    font-family: 'Museo Slab';
    color: #74c6ff;
    text-transform: uppercase;
    padding: 20px;
    font-size: 13px;

    .text {
      border-bottom: 2px solid #74c6ff;
    }
  }
}

.headroom {
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100;
}

.headroom-wrapper {
  height:0 !important;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}